# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# -------------------------------------------------
# DEFAULT RULES
# -------------------------------------------------
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# -------------------------------------------------
# PYTHON (PEP8)
# -------------------------------------------------
[*.py]
indent_style = space
indent_size = 4
max_line_length = 88
charset = utf-8
insert_final_newline = true

# -------------------------------------------------
# YAML / YML
# -------------------------------------------------
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# -------------------------------------------------
# DOCKERFILE
# -------------------------------------------------
[Dockerfile]
indent_style = space
indent_size = 4

# -------------------------------------------------
# MAKEFILE
# (Makefiles devem usar TAB obrigatoriamente)
# -------------------------------------------------
[Makefile]
indent_style = tab

# -------------------------------------------------
# JSON
# -------------------------------------------------
[*.json]
indent_style = space
indent_size = 2

# -------------------------------------------------
# Markdown
# -------------------------------------------------
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# -------------------------------------------------
# TOML (pyproject.toml, etc)
# -------------------------------------------------
[*.toml]
indent_style = space
indent_size = 2
